{
  "presets": ["module:metro-react-native-babel-preset"],
  "retainLines": true,
  "plugins": [["import", { "libraryName": "antd-mobile-rn" }]],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
