{
  "presets": [
    "react-native",
    "flow",
    "react-native-dotenv"
  ],
  "retainLines": true,
  "plugins": [["import", { "libraryName": "antd-mobile" }]],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
