{
  "presets": [
    "react-native",
    "flow"
  ],
  "retainLines": true,
  "plugins": [
    ["import", { "libraryName": "antd-mobile" }],
    "transform-inline-environment-variables"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
